<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/rezerwacje">Twoje rezerwacje</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Budynek B4
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/B4/4">Poziom -1</a>
              <a class="dropdown-item" href="/B4/0">Parter</a>
              <a class="dropdown-item" href="/B4/1">Pietro 1</a>
              <a class="dropdown-item" href="/B4/2">Pietro 2</a>
              <a class="dropdown-item" href="/B4/3">Pietro 3</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Budynek B5
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/B5/1">Pietro 1</a>
              <a class="dropdown-item" href="/B5/2">Pietro 2</a>
              <a class="dropdown-item" href="/B5/3">Pietro 3</a>
              <a class="dropdown-item" href="/B5/4">Pietro 4</a>
              <a class="dropdown-item" href="/B5/5">Pietro 5</a>
              <a class="dropdown-item" href="/B5/6">Pietro 6</a>
              <a class="dropdown-item" href="/B5/7">Pietro 7</a>
              <a class="dropdown-item" href="/B5/8">Pietro 8</a>
              <a class="dropdown-item" href="/B5/9">Pietro 9</a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item m1-auto">
          <a class="nav-link active" aria-current="page" href="/import_csv">Import CSV</a>
          </li>
          <li class="nav-item m1-auto">
              <a class="nav-link active" aria-current="page" href="/logout">Wyloguj</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>